#mia{
    background-color: antiquewhite;width: fit-content;
    color: blueviolet;
    text-align: center;
    width: auto;
    height: auto;
}
.hun{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: blueviolet;
}
